<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Bar</title>
    <link rel="stylesheet" href="progress.css">
</head>
<body class="main">
    <h2 class="head">Progress Bar</h2>
    <div class="progressWrapper">
        <div class="progressBar">
            <div class="progress">
                <span class="progressLabel">
                    0%
                </span>
            </div>
        </div>
        <button class="start">START</button>
    </div>
    <div class="text">The Progress reached 100%</div>
    <script src="progress.js"></script>
</body>
</html>