.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.header {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--cols, 10), 35px);
  grid-template-rows: repeat(var(--rows, 10), 35px);
  gap: 2px;
  user-select: none;
}
.box {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: lightblue;
}
